
/*------Fonts------*/

@font-face {
    font-family: "Leixo";
    src: url('../fonts/LEIXO-DEMO.ttf')
}

@font-face {
    font-family: "KayakSansBoldItalic";
    src: url('../fonts/KayakSansBoldItalic.otf')
}

@font-face {
    font-family: "KayakSansBold";
    src: url('../fonts/KayakSansBold.otf')
}

@font-face {
    font-family: "KayakSansLight";
    src: url('../fonts/KayakSansLight.otf')
}

@font-face {
    font-family: "KayakSansLightItalic";
    src: url('../fonts/KayakSansLightItalic.otf')
}

@font-face {
    font-family: "KayakSansLight";
    src: url('../fonts/KayakSansLight.otf')
}

@font-face {
    font-family: "KayakSansRegularItalic";
    src: url('../fonts/KayakSansRegularItalic.otf')
}

@font-face {
    font-family: "KayakSansRegular";
    src: url('../fonts/KayakSansRegular.otf')
}

@font-face {
    font-family: "WalterTurnCoat";
    src: url('../fonts/WalterTurncoat.ttf')
}


/*------Nav------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00B3DF;
    height: 10vh;
    display: flex;
    z-index: 2;
}

#logoAile {
    max-height: 16vh;
}

.modal {
    display: none;
}

nav {
    height: 100%;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.policeNav:hover {
    border-bottom: solid #FFD73A 4px;
}

.ongletSelect {
    border-bottom: solid white 4px;
}

.policeNav {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Leixo";
    text-decoration: none;
    font-size: 20px;
}

#participer {
    background-color: #05657E;
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.affiche {
    display: block
}

.modal-content {
    border: 4px #FFD73A solid;
    display: inline-flex;
    position: absolute;
    background: linear-gradient(100deg, #ff7477 0%, #ff7477 49.6%, #ffd73a 49.6%, #ffd73a 50%, #ffd73a 50.3%, #00b3df 50.3%, #00b3df 100%);
    margin: auto;
    top: calc(50% - 260px);
    left: calc(50% - 380px);
    width: 760px;
    height: 520px;
}

#connexion {
    width: 50%;
    color: white;
    justify-content: center;
}

#inscrip {
    min-width: 50%;
    color: #FFD73A;
    justify-content: center;
}

#connexion form {
    position: relative;
    top: 40px;
    left: 100px;
    font-family: "KayakSansBold";
    font-size: 23px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#connexion h1 {
    font-size: 48px;
    position: relative;
    bottom: 0px;
    left: 50px;
}

#inscrip form {
    position: relative;
    top: 30px;
    left: 25%;
    font-family: "KayakSansBold";
    font-size: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#inscrip form>*:not(:last-child) {
    text-align: center;
    margin-bottom: 4px;
}

#connexion form>*:not(:last-child) {
    text-align: center;
    margin-bottom: 6px;
}

#inscrip a {
    color: #ff7477;
}

#inscrip h1 {
    font-size: 50px;
    position: relative;
    bottom: 0px;
    left: 50px;
}

#submit {
    font-family: "KayakSansBold";
    font-size: 15px;
    border: 4px #FFD73A solid;
    border-radius: 5px;
    width: 85px;
    height: 35px;
    color: #00b3df;
}

#submitC {
    font-family: "KayakSansBold";
    font-size: 15px;
    border: 4px white solid;
    background-color: #FFD73A;
    border-radius: 5px;
    width: 85px;
    height: 35px;
    color: #00b3df;
}

#divClose {
    position: absolute;
    top: 22px;
    left: 0px;
    background-color: #ff7477;
    z-index: -1;
    border: 4px #FFD73A solid;
    width: 121px;
    height: 70px;
    transform-origin: bottom-right;
    transform: rotateZ(-90deg);
    transition: left 1s cubic-bezier(.43, .57, .35, 1.04);
}

#close {
    padding-top: 4px;
    padding-left: 7px;
    position: absolute;
    transform-origin: bottom-right;
    font-family: "Leixo";
    font-size: 27px;
    color: black;
}

#close:hover {
    color: #00b3df;
}


/*---------GENERAL--------------*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: -1;
}

main {
    text-align: center;
    display: inline-block;
    flex-grow: 1;
    padding-top: 10vh;
}

h1,
h2,
h3 {
    font-family: "Leixo";
}

.fondJaune {
    background-color: #FFD73A;
}

p {
    font-family: "KayakSansLight";
    font-size: 22px;
}

a {
    color: #1781A1;
}

a:hover {
    color: #FFD73A;
}


/*----------Lots------------*/

#hLots {
    color: white;
    font-size: 4.5vw;
    transform-origin: top-left;
    transform: skewX(7deg) translateX(-49.5%) translateY(280%) rotateZ(-83deg);
    margin-bottom: 0;
}

.titrePage {
    padding-top: 0;
    margin: 0;
    background-color: white;
    width: 25%;
    font-family: WalterTurnCoat;
    font-size: 30px;
}

.divHaut {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 200px;
    padding-top: 0;
    margin-top: 0px;
    position: relative;
    top: -15%;
}

.divBas {
    display: flex;
    align-items: flex-start;
    padding: 200px;
    padding-top: 0;
    margin-top: 0px;
    position: relative;
    top: -60%;
    left: -6.5%;
}

.divImgLots>img {
    width: 90%;
    height: auto;
}

.divImgLots {
    max-width: 500px;
    max-height: auto;
}

.divImgLots2 {
    max-width: 500px;
    max-height: auto;
}

.divImgLots2>img {
    width: 50%;
    height: auto;
}

.divHaut>h2 {
    margin-left: 20px;
}

.divImgLots {
    max-width: 500px;
    max-height: auto;
}

td {
    height: 300px;
    vertical-align: bottom;
    padding: 5px;
}

.divHaut>h2 {
    margin-left: 20px;
}

#podium {
    display: flex;
    padding: 0;
    margin: 0px;
    position: fixed;
    top: 50px;
    left: 0%;
}

#podium0,
#podium1,
#podium2 {
    width: 150px;
    z-index: -10;
}

#podium0 {
    /* or */
    height: 220px;
    background: #00B3DF;
}

#podium1 {
    /* argent */
    height: 180px;
    background: #FFFFFF;
}

#podium2 {
    /* bronze */
    height: 150px;
    background: #F95053;
}

#podium1>p {
    font-family: "WalterTurnCoat";
    font-size: 17px;
}

#podium0>p {
    font-family: "WalterTurnCoat";
    font-size: 18px;
}

#podium2>p {
    font-family: "WalterTurnCoat";
    font-size: 17px;
}

.imgDivBas img {
    width: 50%;
}

td img{
    width:70%;
}

/*--------------Bulgarie---------------*/

#bulgarie {
    color: white;
    font-size: 5vw;
    transform-origin: top-left;
    transform: skewX(7deg) translateX(-49%) translateY(222%) rotateZ(-83deg);
}

#texteGeo{
    color:white;
    border: solid 3px white;
    text-align: justify;
    width: 50%;
    font-size: 2.5vh;
    position: absolute;
    top: -24vh;
    left: 33vw;
    padding: 7px;
}
#geographie{
    position: absolute;
    top:-28vh;
    left: 33vw;
}
#tourisme{
    position: absolute;
    top: -6vh;
    left: 33vw;
}
#texteTourisme{
    color:white;
    border: solid white 3px;
    text-align: justify;
    width: 30%;
    font-size: 2.5vh;
    position: absolute;
    top: -2vh;
    left: 33vw;
    padding: 7px;
}
#imgBulg1{
    width: 25%;
    position: absolute;
    top: -30vh;
    left: 5vw;
}
#bateau{
    width: 20%;
    position: absolute;
    right: 10vw;
    bottom: -57vh;
    z-index: -10;
}
#imgBulg2{
    width: 40%;
    position: absolute;
    left: 33vw;
    bottom: -57vh;
}

/*----------Reglement------------*/

.titreReglement {
    position: absolute;
    bottom: 4%;
    width: 70vh;
    left: 1%;
    margin: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    color: white;
}


#texteLibreDroit {
    text-align: center;
    color: white;
    border: 3px solid white;
    font-size: 1.5vw;
    padding: 1vw;
    margin-left: 10%;
    margin-right: 5%;
}

.fondJaune {
    background-color: #f95053;
}


#afficheRegle {
    background-image: url(../images/imgFondJaune.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 274px ;
    height: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 10px;
    text-align: right;
    top: 25vh;
    right: 5%;
}

#sonRegle {
    background-image: url(../images/imgFondBleu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    padding: 0 20px 0 5px;
    width: 420px;
    height: 260px;
    bottom: 8vh;
    left: 35vw;
}

#videoRegle {
    background-image: url(../images/imgFondRouge.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 0 10px;
    top: 25%;
    left: 10%;
    height: 60vh;
}

#videoRegle>h2, #afficheRegle>h2 {
    text-align: center;
}
#videoRegle>:last-child{
    width : 70%;
}

#videoRegle::before{
    content: "";
    background-image: url(../images/imgPasseport.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: calc(80vh - 260px);
    width: calc(29vw - 260px);
    right: -25vw;
}

#ilNeVousReste::after{
    content: "";
    position: absolute;
    background-image: url(../images/imgLivre.png);
    background-repeat: no-repeat;
    background-size: contain;
    width : 200%;
    height: 100%;
    bottom: -100%;
    right: 0;
}


#ilNeVousReste {
    font-family: "WalterTurnCoat";
    text-transform: capitalize;
    position : absolute;
    right: 5%;
    top: calc(25vh + 200px);
    width : 200px;
}


/*------Publication-------*/

.planche {
    width: 100%;
    position: fixed;
    height: 82vh;
    min-height: 500px;
    top: 10%;
    border: 3px white solid;
    box-shadow: -17px 0px 30px -15px rgba(0, 0, 0, 0.6);
}

.planche1 {
    left: 0px;
    background-color: #FF7477;
    transition: left 1s cubic-bezier(.43, .57, .35, 1.04);
    padding-left: 6vw;
}

.planche2 {
    transform-origin: top-left;
    transform: skewX(-7deg);
    left: 90%;
    background-color: #FFD73A;
    transition: left 1s cubic-bezier(.43, .57, .35, 1.04);
}

.planche3 {
    transform: skewX(-7deg);
    left: 95%;
    background-color: #00B3DF;
    transition: left 1s cubic-bezier(.43, .57, .35, 1.04);
}

.planche2>*,
.planche3>* {
    transform-origin: top-left;
    transform: skewX(7deg);
}

.hPub {
    color: white;
    font-size: 5vw;
}

.hAffiche {
    position: absolute;
    top: 30%;
    left: -9%;
    transform-origin: top-left;
    transform: rotateZ(-90deg);
}


/*Permet de tourner le titre de la page*/

.accueilTitre {
    position: absolute;
    top: 30%;
    left: -8%;
    transform-origin: top-left;
    transform: rotateZ(-90deg);
}

.hSon {
    position: absolute;
    top: 30%;
    left: -4%;
    transform-origin: top-left;
    transform: skewX(7deg) rotateZ(-90deg);
}

.hVideo {
    position: absolute;
    top: 30%;
    left: -6%;
    transform-origin: top-left;
    transform: skewX(7deg) rotateZ(-90deg);
}

.ongletsPub {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    transform-origin: top-left;
}

#onglets {
    position: absolute;
    top: 45%;
    left: -42%;
    transform: rotateZ(-90deg);
}

#onglets2 {
    position: absolute;
    top: 45%;
    left: -42%;
    transform: skewX(7deg) rotateZ(-90deg);
}

#onglets3 {
    position: absolute;
    top: 45%;
    left: -42%;
    transform: skewX(7deg) rotateZ(-90deg);
}

#onglets>button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #00B3DF;
    outline: none;
    box-sizing: border-box;
}

#onglets>button:not(:last-child) {
    margin-right: 7px;
}

#onglets>button:hover {
    background-color: #00B3DF;
}

#onglets>button.selected {
    background-color: #00B3DF;
}

#onglets2>button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #FF7477;
    outline: none;
    box-sizing: border-box;
}

#onglets2>button:not(:last-child) {
    margin-right: 7px;
}

#onglets2>button:hover {
    background-color: #FF7477;
}

#onglets2>button.selected {
    background-color: #FF7477;
}

#onglets3>button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #FFD73A;
    outline: none;
    box-sizing: border-box;
}

#onglets3>button:not(:last-child) {
    margin-right: 7px;
}

#onglets3>button:hover {
    background-color: #FFD73A;
}

#onglets3>button.selected {
    background-color: #FFD73A;
}

.contenuP {
    background: #AF3D41;
    height: 90%;
    width: 75%;
    margin-left: 7%;
    margin-top: 2%;
}

#cont2 {
    margin-left: 10%;
}

#contenu3 {
    margin-left: 10%;
}


/*----------------FOOTER---------------------------*/

footer {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #05657E;
    font-family: "Leixo";
    z-index: 1;
}

footer>a>img {
    width: 3vw;
}

footer>a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}


/*-------A propos-------*/

.textEntreprise {
    margin: 0%;
    display: block;
    text-align: justify;
    font-size: 25px;
    text-indent: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

.imgETtext {
    display: flex;
    padding-top: 5%;
    font-size: 20px;
    max-width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.textFlorian,
.textHugo,
.textQuentin,
.textJoanne,
.textThomas {
    display: flex;
    position: relative;
    width: 70%;
    bottom: 13%;
    font-size: 1.5vw;
    margin: 0%;
    /*display: block;*/
    text-align: justify;
    text-indent: 10%;
}

.textFlorian,
.textQuentin,
.textThomas {
    left: 13%;
}

.textHugo,
.textJoanne {
    left: 10%;
}

.imgAPropos {
    margin: 0;
    display: flex;
    width: 25%;
    height: 25%;
}

.titreDeux {
    display: flex;
    position: relative;
    font-size: 2vw;
    bottom: 10%;
}

.hugoTitre {
    display: flex;
    position: relative;
    left: 46%;
    font-size: 2vw;
    bottom: 10%;
}

.joanneTitre {
    display: flex;
    position: relative;
    left: 33%;
    font-size: 2vw;
    bottom: 10%;
}

#aPropos {
    color: white;
    font-size: 5vw;
    transform-origin: top-left;
    transform: skewX(7deg) translateX(-53%) translateY(220%) rotateZ(-83deg);
}


#contact {
    color: white;
    font-size: 5vw;
    transform-origin: top-left;
    transform: skewX(7deg) translateX(-49%) translateY(280%) rotateZ(-83deg);
    position:absolute;
}

#divAPropos{
    width:50vw;
    margin : auto;
    color:white;
    border : solid 3px white;
    text-align:justify;
    padding : 5px;
    position: absolute;
    position : relative;
}
#divAPropos::after{
    content : url(../images/imgFlecheAccueil.png);
    transform : rotateY(180deg) rotate(45deg);
    position: absolute;
    bottom :-58px;
    right : -70px;
}

.photoEquipe:nth-child(odd){
    width : 5vw;
    height : 20vw;
}
.photoEquipe:nth-child(even){
    width : 15vw;
    height : 20vw;
    
}

/*----Mentions Légales-------*/

#mentionsLegales {
    text-align: justify;
    padding: 0 100px;
}

.infoLegal {
    text-align: center;
}

/*----------------Les Modifs de Thomas le génie--------------------------*/
#slogan{
    color:white;
    border: solid white 3px;
    font-size:50px;
    width:50vw;
}
#texteIndex1{
    color:white;
    font-size: 3vh;
    width: 25vw;
    border:solid 3px white;
}
#avion{
    width:20%;
    position: absolute;
    top:20%;
    left: 35%;
    z-index: -2;
}
#texteIndex2{
    color:white;
    font-size: 3vh;
    width: 30vw;
    position: absolute;
    left:20%;
    border: 3px white solid;
}
#gopro{
    width: 10%;
    position: absolute;
    left: 6%;
}
#texteBilgre{
    color:white;
    font-size: 5vh;
    width: 50vw;
    position: absolute;
    top:70%;
    border: 3px white solid;
}

#imgAccueil{
    width: 28%;
    position: absolute;
    top:1%;
    right:13%;
}
#texteDossier{
    width:20%;
    font-size: 2.5vh;
    position: absolute;
    right:30%;
    top:50%;
    font-family: WalterTurnCoat;
    
    
}

#carte{
    width: 20%;
    position: absolute;
    bottom:0%;
    right:20%;
}


/*----------------COntact-------------*/
#ContenuContact{
    margin-left: 10%;
}

#FormContact{
    max-width: 50vw;
    
}

#FormContact>label{
    display : none;
}
#FormContact>input::-webkit-input-placeholder, #message::-webkit-input-placeholder{
    color:white;
    font-family: KayakSansRegular;
    font-size: 20px;
}

#FormContact>input, #message{
    background-color: #00B3DF;
    border : solid white 3px;
    color: white;
    display: block;
    margin-top: 5%;
    padding : 5px;
}
#FormContact>input:last-child{
    font-family: KayakSansRegular;
    font-size: 20px;
}
#FormContact>input:last-child:hover{
    background-color: #05657E;
    font-family: KayakSansRegular;
    font-size: 20px;
}


#question{
    padding: 5px;
    width: 40vw;
    border : solid white 4px;
    color: white;
    font-family: Leixo;
    font-size : 25px;
    
}

#question::after{
    content: url(../images/imgFlecheAccueil.png);
    position: absolute;
    transform: rotateY(180deg) rotate(-90deg);
    top: 18%;
    left: 35%;
}

#question::before{
    content: "";
    background-image: url(../images/imgContact.png);
    background-repeat: no-repeat;
    background-size: contain;
    position : absolute;
    top : 0;
    right : -25%;
    width : 75%;
    height: 75%;
}

/*---------PARTICIPER----------*/

#mainPublier {
    background-color: #ff7477;
}
#publications{
    color: white;
    font-size: 3.5vw;
    position: absolute;
    top: 30%;
    left: -8%;
    transform: rotateZ(-90deg) translateX(-10%) translateY(-100%);
}
/*----interface inscription---*/

.modal2 {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: -100%;
    width: 100vw;
    height: 90vh;
    overflow: auto;
    transition: top 0.5s cubic-bezier(.43, .57, .35, 1.04);
}

.modal2.affiche {
    display: block
}

#sortir{
    position:absolute;
    width: 80%;
    height: 100%;
    top:0;
    left:0;
}

.modal-content2 {
    border-left: 3px white solid;
    display: inline;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    width: 20%;
    height: 92%;
    background-color: #ff7477 ;
    min-width: 300px;
}

#photoIdentite{
    border-radius: 90px;
    height: 100%;
}
#principI{
    display: flex;
    justify-content: space-around;
    height: 12%;
}

contentI{
    justify-content: center;
}

#contentI div{
    border-left: 3px white solid;
    border-bottom: 3px white solid;
    width: 60%;
    margin-left: 13%;
}

#contentI h2{
    text-align: left;
    margin:3%;
    margin-left: 10%;
    font-size: 130%;
}

#contentI p{
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 2%;
}

#deconnecter,#modifier{
    font-family: "KayakSansBold";
    font-size: 15px;
    border: 4px #FFD73A solid;
    border-radius: 5px;
    width: 85px;
    height: 35px;
    color: #00b3df;
    position: relative;
    top: 20Px;
}

/*------------------------FAQ--------------------------*/
fieldset{
    display: inline-block;
    width : 75vw;
    border: white solid 5px;
    margin: 0 7vw 8px 0;
    text-align: left;
}
fieldset>legend{
    font-family: leixo;
}

fieldset>p{
    font-size: 15px;
}

fieldset a:hover{
    color: #FF7477;
}

#FAQ{
    padding-top: 3px;
    position: absolute;
    color :white;
    font-size:5vw;
    transform-origin:top-left;
    transform: skewX(7deg) translateX(-49%) translateY(220%) rotateZ(-83deg);
}


/*-------------------------ADMINISTRATION---------------------------*/
#Admin{
    display: flex;  
}

#choixAdmin{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #FFD73A;
    font-family: leixo;
    font-size: 25px;
    height: 100%;
    width : 25%;
}

#choixAdmin>span{
    margin-top: 10vh;
}

#choixAdmin>span:hover{
    text-decoration: underline;
}


#Admin p{
    text-align: left;
    padding-left: 5px;
}

.boucleAdmin p:hover{
    font-family: KayakSansBold;
}

.renduBDD{
    border: solid white 5px;
    width: 50%;
}

.boucleAdmin{
    display: block;
}

#lesDonnees{
    display: flex;
    width: 70vw;
    width:70vw;
}

